body {
    font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
    background-color: #f9f5fa;
    display: flex;
    justify-content: center;
}

.container {
    padding: 30px;
    margin: 0;
}

.headingImg {
    background-image: url(../images/depoMoney.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7em 5em 3em 5em;
    margin: 0 auto 0 auto;
    width: 5em;
    border-radius: 5px;
}

.headingText {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin: 0 0 35px 0;
}

.col {
    margin-bottom: 20px;
}

h3 {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    margin: 0 0 9px 0;
}

.withdrawMoneyForm {
    display: flex;
    justify-content: center;
}

.amountInput {
    display: flex;
    align-items: center;
    width: auto;
}

.AofM {
    font-size: 20px;
    font-weight: bold;
    margin-left: -15px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    margin: auto -18px auto 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnDiv {
    position: absolute;
    justify-content: center;
    margin-top: 40px;
}

.depositBtn {
    margin-top: 30px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.depositBtn:hover {
    cursor: pointer;
    background-color: #156c44;
    color: white;
    transition: .5s;
}