body {
    font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f9f5fa;
}

.headingImg {
    display: block;
    background-image: url("../images/viewBalance.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8em 5em 2em 5em;
    margin: 40px auto 0 auto;
    width: 5em;
    border-radius: 5px;
}

h1 {
    font-size: 32px;
    margin: 0 0 40px 0;
}

.col {
    text-align: left;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}