.error {
    color: red;
    font-weight: bold;
    font-style: italic;
    margin-top: 3px;
    text-align: center;
}

/*  HomePage  HomePage  HomePage  HomePage  HomePage  HomePage  HomePage  HomePage  HomePage  HomePage  HomePage  HomePage*/

.actionBtn {
    text-align: center;
    font-size: 100px;
}

#registerBtn, #loginBtn {
font-size: 100px;
}