<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Profile</title>
</head>
<body>
    <h1>This is customer profile</h1>
    <div class="col">
        <tr>
            <td class="type-name">ID</td>
            <td>:</td>
            <td>
                <h3 th:text="${user.id}"/>
            </td>
        </tr>
        <tr>
            <td class="type-name">Tên người dùng</td>
            <td>:</td>
            <td>
                <h3 th:text="${user.fullName}"/>
            </td>
        </tr>
        <tr>
            <td class="type-name">Phone Number</td>
            <td>:</td>
            <td>
                <h3 th:text="${user.phoneNumber}"/>
            </td>
        </tr>
        <tr>
            <td class="type-name">Email</td>
            <td>:</td>
            <td>
                <h3 th:text="${user.email}"/>
            </td>
        </tr>
        <tr>
            <td class="type-name">SSN</td>
            <td>:</td>
            <td>
                <h3 th:text="${user.ssn}"/>
            </td>
        </tr>
        <tr>
            <td class="type-name">Street Address</td>
            <td>:</td>
            <td>
                <h3 th:text="${user.streetAddress}"/>
            </td>
        </tr>
        <tr>
            <td class="type-name">City</td>
            <td>:</td>
            <td>
                <h3 th:text="${user.city}"/>
            </td>
        </tr>
        <tr>
            <td class="type-name">District</td>
            <td>:</td>
            <td>
                <h3 th:text="${user.district}"/>
            </td>
        </tr>

    </div>
</body>
</html>