<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #customer-static-resources},
                                                ~{:: #customer-header},
                                                ~{:: #customer-nav},
                                                ~{:: #customer-main-content},
                                                ~{:: #customer-footer}
                                               )}">

<head>
    <title>Customer Page</title>
    <th:block id="customer-static-resources">
        <script type="text/javascript" src="/js/customer.js" th:src="@{/js/customer.js}"></script>
        <link rel="stylesheet" type="text/css" href="/css/customer.css" th:href="@{/css/customer.css}"/>
    </th:block>
</head>
<body>
<div class="container" id="customer-main-content">
    <h1>Services</h1>

    <div class="btnLayout">
        <div class="1stRow">
            <div class="btnDiv" id="userDiv">
                <form onclick="gotoUrl('/customer/profile')">
                    <input class="servicesBtn" id="userBtn" value="User"/>
                </form>
            </div>

            <div class="btnDiv" id="viewBalanceDiv">
                <form onclick="gotoUrl('/customer/viewBalance')">
                    <input class="servicesBtn" id="viewBalanceBtn" value="View Balance"/>
                </form>
            </div>

            <div class="btnDiv" id="depoMoneyDiv">
                <form onclick="gotoUrl('/customer/depositMoney')">
                    <input class="servicesBtn" id="depoMoneyBtn" value="Deposit"/>
                </form>
            </div>

            <div class="btnDiv" id="withMoneyDiv">
                <form onclick="gotoUrl('/customer/withdrawMoney')">
                    <input class="servicesBtn" id="withMoneyBtn" value="Withdraw"/>
                </form>
            </div>
        </div>
        <div class="2ndRow">
            <div class="btnDiv" id="transMoneyDiv">
                <form onclick="gotoUrl('/customer/transferMoney')">
                    <input class="servicesBtn" id="transMoneyBtn" value="Transfer"/>
                </form>
            </div>

            <div class="btnDiv" id="saveMoneyDiv">
                <form onclick="gotoUrl('/customer/moneySaving')">
                    <input class="servicesBtn" id="saveMoneyBtn" value="Saving"/>
                </form>
            </div>

            <div class="btnDiv" id="loansMoneyDiv">
                <form onclick="gotoUrl('/customer/moneyLoans')">
                    <input class="servicesBtn" id="loansMoneyBtn" value="Loans"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
