<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #deposit-money-resources},
                                                ~{:: #deposit-money-nav},
                                                ~{:: #deposit-money-main-content},
                                                ~{:: #deposit-money-footer}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Deposit Money</title>
    <th:block id="withdraw-money-resources">
        <script type="text/javascript" src="/js/deposit-money.js" th:src="@{/js/deposit-money.js}"></script>
        <link rel="stylesheet" type="text/css" href="/css/deposit-money.css" th:href="@{/css/deposit-money.css}"/>
    </th:block>

</head>

<body>
<div id="deposit-money-main-content">
    <div class="headingImg">
    </div>

    <h1 class="headingText">Deposit Money</h1>

    <div class="col">
        <h3 th:text="'Account Number: ' + ${account1.accountNumber}"></h3>
        <h3 th:text="'Balance: ' + ${account1.currentBalance} + ' vnđ'"></h3>
    </div>

    <form class="withdrawMoneyForm" onsubmit="submitForm(event)">
        <table>
            <div class="amountInput">
                <div class="AofM">Amount:</div>

                <div>
                    <input class="form-control" name="amount" type="text">
                </div>
            </div>

            <div class="btnDiv">
                <button class="depositBtn" type="submit">Deposit</button>
            </div>
        </table>
    </form>
</div>
</body>
</html>