<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #transfer-static-resources},
                                                ~{:: #transfer-nav},
                                                ~{:: #money-loans},
                                                ~{:: #transfer-footer}
                                               )}">
    <meta charset="UTF-8">
    <title>Money Loans</title>
    <th:block id="transfer-static-resources">
        <script type="text/javascript" src="/js/loans-money.js"
                th:src="@{/js/loans-money.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/loans-money.css}"
              href="/css/loans-money.css"/>
    </th:block>
</head>
<body>
    <div id="money-loans" class="main-container container text-center">
<!--        Header-->
        <div>
            <h1>This is Money Loans Page</h1>
        </div>

    <!--        Hiện loans đã đăng ký-->

        <div class="loanParent" th:each="loanList : ${loansList}">
            <div class="loanElement">
                <div th:text="'Loams Package ID: ' + ${loanList.loansPackId}"></div>
                <div th:text="'Loans Amount Taken: ' + ${loanList.loansAmountTaken} + '$'"></div>
                <div th:text="'Loans Amount Repaid: ' + ${loanList.loansAmountRepaid} + '$'"></div>
                <div th:text="'Date of payment: ' + ${loanList.dateOfPayment}"></div>
                <div th:text="'Status: ' + ${loanList.status}"></div>
            </div>
        </div>


        <!--        Hiệu lên các loansPackage của ngân hàng -->

    <form onsubmit="submitForm(event)">
        <table>
            <tr>
                <p><input id="passwordBox" type='text' placeholder="Amount" name='amount' value=''/></p>
            </tr>

                <tr class="loanParent" th:each="loanPackage : ${loansPackages}">
                    <div th:onclick="doSomething([[${loanPackage.id}]])" class="loanElement">
                        <div th:text="'Loams Package ID: ' + ${loanPackage.id}"></div>
                        <div th:text="'Interest Rate: ' + ${loanPackage.interestRate} + '%'"></div>
                        <div th:text="'Duration: ' + ${loanPackage.duration} + ' months'"></div>
                    </div>
                </tr>

            <tr>
                <p>
                <div id="loansPackageId" th:text="'Loans Package ID: '"></div>
                <input id="id" type="text" placeholder="ID" name="loansPackageID" value='' readonly>
                </p>
            </tr>

            <tr>
                <p><input id="loginBtn" type="submit" name='submit' value='Confirm'/></p>
            </tr>
        </table>
    </form>


</div>


<script>

    doSomething = (id) => {
        document.getElementById('loansPackageId').innerText = 'Loans Package ID: ';
        console.log(document.getElementById('id'))
        document.getElementById('id').value = id;
    }
</script>
</body>

</html>