<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Money Loans</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/loans-money.css}" href="/css/loans-money.css"/>

</head>
<body>
<div class="main-container container text-center">
    <!--        Header-->
    <div>
        <h1>This is Money Loans Page</h1>
    </div>

    <!--        Hiện loans đã đăng ký-->


    <!--        Hiệu lên các loansPackage của ngân hàng -->

    <form th:action="@{/doLoans}">
        <table>
            <tr>
                <p><input id="phoneNumBox" type='text' placeholder="SNN" name='SNN' value=''></p>
            </tr>

            <tr>
                <p><input id="passwordBox" type='text' placeholder="Amount" name='amonut' value=''/></p>
            </tr>

            <tr class="loanParent" th:each="loanPackage : ${loansPackages}">
                <div th:onclick="doSomething([[${loanPackage.id}]])" class="loanElement">
                    <div th:text="'Loams Package ID: ' + ${loanPackage.id}"></div>
                    <div th:text="'Interest Rate: ' + ${loanPackage.interestRate} + '%'"></div>
                    <div th:text="'Duration: ' + ${loanPackage.duration} + ' months'"></div>
                </div>
            </tr>

            <tr>
                <p>
                <div id="loansPackageId" th:text="'Loans Package ID: '"></div>
                <input id="id" type="text" placeholder="ID" name="loansID" value='' readonly>
                </p>
            </tr>

            <tr>
                <p><input id="loginBtn" type="submit" name='submit' value='OK Ok'/></p>
            </tr>
        </table>
    </form>


</div>


<script>

    doSomething = (id) => {
        document.getElementById('loansPackageId').innerText = 'Loans Package ID: ';
        console.log(document.getElementById('id'))
        document.getElementById('id').value = id;
    }
</script>
</body>

</html>