<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #transfer-static-resources},
                                                ~{:: #transfer-nav},
                                                ~{:: #transfer-main-content},
                                                ~{:: #transfer-footer}
                                               )}">
<head>
    <title>Transfer Transaction</title>
    <th:block id="transfer-static-resources">
        <script type="text/javascript" src="/js/transfer-transaction.js" th:src="@{/js/transfer-transaction.js}"></script>
    </th:block>
</head>
<body>
<div id="transfer-main-content" class="container text-center">
    <h1>Đây là người chuyển tiền</h1>
    <div class="col">
        <h3 th:text="'Số tài khoản: ' + ${account.accountNumber}"/>
        <h3 th:text="'Số dư: ' + ${account.currentBalance} + ' Đồng'"/>
    </div>

    <form onsubmit="submitForm(event)">
        <table>
            <tr>
                <td>Chọn ngân hàng</td>
                <td>:</td>
                <td>
                    <select name="bankReceiveId" class="form-control">
                        <option value=""></option>
                        <option th:each="bank : ${bankList}" th:value="${bank.id}" th:text="${bank.bankName}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Nhập số tài khoản nhận tiền</td>
                <td>:</td>
                <td><input class="form-control" id='accountNumber' type='text' name='accountNumber' value=''></td>
            </tr>

            <tr>
                <td>Số tiền chuyển</td>
                <td>:</td>
                <td><input class="form-control" id='amount' name="amount" type="text"></td>
            </tr>

            <tr>
                <td>Description</td>
                <td>:</td>
                <td><input class="form-control" id='description' name="description" type="text"></td>
            </tr>

            <tr>
                <td>
                    <button id="submit" type="submit" class="btn btn-success">Chuyển Tiền</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>