<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/view-balance.css" th:href="@{/css/view-balance.css}"/>

</head>

<body>

    <div class="container text-center">
        <h1>This is View Balance</h1>
        <div class="col">
            <h3 th:text="'Account Number: ' + ${card.cardNumber}"/>
            <h3 th:text="'Valid Date: ' + ${card.cartDate}"/>
            <h3 th:text="'Balance: ' + ${card.currentBalance}"/>
        </div>
    </div>

</body>
</html >